---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-8">
            <div class="well">
                <h1 class="none"><a href="{{page.sidenav}}.html">{{ page.title }}</a></h1>
                {{ content }}
            </div>
        </div>
        <div class="col-md-2">
            {% include sidenav.html %}
        </div>
    </div>
</div>

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    id: '{{ page.date }}',
    owner: 'guoqingcun',
    repo: 'guoqingcun.github.io',
    oauth: {
        client_id: 'b808701aafa601b6271d',
        client_secret: 'febe7d2400b04f71c3f33b49d4b85a2564c82e1c',
    }
});
gitment.render('gitmentContainer');
</script>
